<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todo workshop</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">

    <div class="container is-max-desktop mt-5">
        <h1 class="title">Todo List</h1>
        <form class="box" @submit.prevent="submitTodo">
          <div class="field">
            <label class="label">Todo:</label>
            <div class="control">
              <input 
                v-model="todo"
                class="input" 
                type="text" 
                placeholder="Learning Vue"
              >
            </div>
          </div>

          <input class="button is-primary" type="submit" value="Add To Do">
        </form>

        <div 
          v-for="(todo, index) in todos"
          class="box title">
          {{ todo }} x
        </div>
    </div>

  </div>
  <script src="main.js"></script>
</body>
</html>
